{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}

    {% for cat in cats %}
        <p> {{ cat.name }} </p>
        <p> {{ cat.age }} </p>
    {% endfor %}

{% endblock %}